 
.bordure{border: 50 solid black;
background-color: black;
margin: 10px 0px 10px 0px ;


}

.atf {color: white;


}


.pf{color: rgb(253, 237, 237);
    display: inline-block;
    margin: 20px 00px 20px 30px;
    text-combine-upright: 
    ;}


.uzer{
    display: inline-block;
    margin: 20px 00px 20px 30px;
     
color: black;


}





    .pefra{
display: inline-block;
margin-left: 930pt;
font-size: 35pt;
    }

    .abcd{

display: inline inline-block;
    }



    .ysv{
        display: flex;
        flex-direction: row;
margin: 10pt;



}


.ozz{
display: flex;
border: solid rgb(190, 190, 190);
padding: 0pt 300pt 0pt 10pt;
position:relative;
background-color: rgb(189, 189, 189);
}


.m-5 bg-info{

    outline:ridge ;
}






